.Sidebar__container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.Sidebar {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.folder {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
    padding: 20px;
}

a:first-child > li {
    border-top: 1px solid black;
}

.folder__name {
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

.btn__addfolder {
    margin: 20px;
    padding: 15px 30px;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
}

.active li {
    background-color: aquamarine;
}